.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Toolbar component related styles */

::deep .dockToolbar {
    background: #faf9f8 !important;
    position: sticky;
    top: 0px;
    z-index: 9999 !important; 
}

::deep .e-toolbar-items {
    background: transparent !important;
}

.navbar-brand {
    height: 100%;
    width: 10%;
    margin: 0px;
}

/* Theme switcher */

::deep .btnSwitch {
    width: 70px;
    height: 30px;  
}

/* NavMenu Component : Sidebar related styles */

::deep .dockSidebar {
    z-index: 9999 !important;
    overflow: hidden;
    position: fixed !important;
    background-color: #faf9f8 !important;
    height: 100%;
}



/* Dashboard layout */

::deep .dashboard-container {
    padding:10px;
}

::deep .e-dashboardlayout {
    position: relative;
    touch-action: none;
}


::deep .e-panel-header {
    text-align: center;
    padding: 10px !important;
    height: auto !important;
}

::deep .e-panel-content {
    text-align: center;
    padding-bottom: 20px;
}


::deep .panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

