@inherits MainComponent<NavMenu>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span><img class="navbar-brand logo" alt="Logo" src="/images/logo.png" /></span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span> Tableau de bord
            </NavLink>
        </div>

        @* LINKS TO EACH STATION *@

        @try
        {
            @if (DataSource.Count() != 0)
            {
                @foreach (var station in DataSource)
                {
                    var path = "station/" + station.StationName.ToString();

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@path" Match="NavLinkMatch.Prefix">
                            <span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span>
                            @station.StationName
                        </NavLink>
                    </div>
                }
            }

        }
        catch (Exception ex)
        {
            Logger.LogError($"Error displaying navbar links: {ex.Message} {ex.StackTrace}");
        }


    </nav>
</div>
